# (c) Cartesi and individual authors (see AUTHORS)
# SPDX-License-Identifier: Apache-2.0 (see LICENSE)

#
# Logging
#

[LOG_LEVEL]
default = "info" 
go-type = "LogLevel"

[LOG_TIMESTAMP]
default = "false" 
go-type = "bool"

#
# Feature flags
#

[FEATURE_HOST_MODE]
default = "false"
go-type = "bool"

[FEATURE_READER_MODE]
default = "false"
go-type = "bool"

#
# Rollups
#

[EPOCH_DURATION]
default = "86400" # 1 day in seconds
go-type = "Duration"

#
# Blockchain
#

[BLOCKCHAIN_ID]
go-type = "int"

[BLOCKCHAIN_HTTP_ENDPOINT]
go-type = "string"

[BLOCKCHAIN_WS_ENDPOINT]
go-type = "string"

[BLOCKCHAIN_IS_LEGACY]
default = "false"
go-type = "bool"

[BLOCKCHAIN_GENESIS_BLOCK]
default = "1"
go-type = "int64"

[BLOCKCHAIN_READ_DEPTH]
default = "10"
go-type = "int"

[BLOCKCHAIN_BLOCK_TIMEOUT]
default = "60"
go-type = "int"

#
# Contracts deployment
#

[CONTRACTS_DAPP_ADDRESS]
go-type = "string"

[CONTRACTS_DAPP_DEPLOYMENT_BLOCK_NUMBER]
go-type = "string"

[CONTRACTS_HISTORY_ADDRESS]
go-type = "string"

[CONTRACTS_AUTHORITY_ADDRESS]
go-type = "string"

[CONTRACTS_INPUT_BOX_ADDRESS]
go-type = "string"

#
# Snapshot
#

[SNAPSHOT_DIR]
go-type = "string"

#
# Auth
#

[AUTH_MNEMONIC]
go-type = "string"
export = false

[AUTH_MNEMONIC_FILE]
go-type = "string"
export = false

[AUTH_MNEMONIC_ACCOUNT_INDEX]
default = "0"
go-type = "int"
export = false

[AUTH_AWS_KMS_KEY_ID]
go-type = "string"
export = false

[AUTH_AWS_KMS_REGION]
go-type = "string"
export = false

#
# Postgres
#

[POSTGRES_ENDPOINT]
default = ""
go-type = "string"

#
# HTTP server
#

[HTTP_PORT]
default = "8080"
go-type = "int"
